div(disabled,class="button",data-redirect="collections/import",data-import="true") Импорт Описания категорий
div(class="button",data-redirect="filters/export",data-import="false") Экспорт seo-фильтров
div(class="button",data-redirect="filters/import",data-import="import") Импорт seo-фильтров
div(class="button",data-alert='{"title":"Вы уверены?","message":"Операция удалит все сеофильтры магазина","callback":"redirect"}',data-redirect="filters/remove",data-import="false") Удалить все seo-фильтры